Package: com.xl.ting
Name: tweak_ting
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mxl
Author: mxl
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-1+debug
Installed-Size: 216
