Package: com.xl.wechat
Name: tweak_wechat
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mxl
Author: mxl
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-17+debug
Installed-Size: 228
