Package: com.xl.redbag
Name: tweak_redbag
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mxl
Author: mxl
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-2
Installed-Size: 716
